body{
	padding: 0px;
	margin: 0px;
}

#grass {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(images/grass2.png);
    border: 1px solid;
}

#obstacle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: red;
    border: 1px solid;
}

#playerSpot {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: blue;
    border: 1px solid;
}

#PCSpot {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: yellow;
    border: 1px solid;
}

#player {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    background: blue;
    border: 1px solid;
}