body{
	padding: 0px;
	margin: 0px;
}

#grass {
	z-index: 0;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url(images/grass.png);
    }

#obstacle {
	z-index: 2;
    width: 29px;
    margin-left: 5px;
    margin-top: -5px;
    height: 47px;
    position: absolute;
    background-image: url(images/rock.png);
}

#hole {
	z-index: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(images/hole1.png);
}

#playerSpot {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: blue;
    border: 1px solid;
}

#PCSpot {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: yellow;
    border: 1px solid;
}

#player {
	z-index: 1;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(images/playerDown.png);